## 2. First name gender detection

In [ ]:
import pandas as pd
import gender_guesser.detector as gender
import re
import warnings
warnings.filterwarnings("ignore")
import string

In [2]:
df = pd.read_csv("/Users/FrancesY/Documents/Columbia/fall2022/5067nlp/project/data_franyang_oct_16.csv")

In [3]:
# Drop na
df = df[df['Name'].notna()]

In [4]:
# Remove emojis from user name
df['Name_1'] = df['Name'].str.replace('[^A-Za-z0-9]', ' ', flags=re.UNICODE)

In [5]:
# Remove digits at the start
df['Name_1'] = df['Name_1'].str.rstrip(string.digits)

In [6]:
df['Name_1'] = df['Name'].str.split(' ').str[0]

In [7]:
df[['Name_1','Name']]

        Name_1              Name
0        linah     linah sibanda
1       Norman    Norman Johnson
2        David        David Hume
3         Last   Last 1 Standing
4       Arthur  Arthur Magamedov
...        ...               ...
644619       A     A Google user
644620   Brian       Brian Shook
644621       A     A Google user
644622       A     A Google user
644623   Dylan        Dylan Fick

[644619 rows x 2 columns]

In [8]:
gd = gender.Detector()
df['Gender'] = df['Name_1'].apply(str.capitalize).map(lambda x: gd.get_gender(x))

In [9]:
df[['Name_1', 'Gender']]

        Name_1       Gender
0        linah      unknown
1       Norman         male
2        David         male
3         Last      unknown
4       Arthur         male
...        ...          ...
644619       A      unknown
644620   Brian         male
644621       A      unknown
644622       A      unknown
644623   Dylan  mostly_male

[644619 rows x 2 columns]

In [12]:
df[df['Gender'] != 'unknown']

,Name,Review,Rating,#ThumbsUp,Date&Time,App,Name_1,Gender
1,Norman Johnson,Tinder would be so much better if we could spe...,3,0,18-02-2022 01:16,Tinder,Norman,male
2,David Hume,Still doesn't correctly notify matches or mess...,1,0,18-02-2022 01:11,Tinder,David,male
4,Arthur Magamedov,Love it!,5,0,18-02-2022 01:06,Tinder,Arthur,male
5,Lukas Rukštelis,Good app.,5,0,18-02-2022 00:57,Tinder,Lukas,male
7,Joe burns,Just tested after originally noticing a flux ;...,1,0,18-02-2022 00:37,Tinder,Joe,male
...,...,...,...,...,...,...,...,...
644615,Yevgeniy Shvartsman,Kept telling me I'm water lol. I guess they di...,1,0,12-07-2017 01:53,Hinge,Yevgeniy,male
644617,Martin Muhr,"Tells me I'm ""over water"". Won't let me manual...",1,2,12-07-2017 01:47,Hinge,Martin,male
644618,Joseph Roy,Location is searching over water. Lame,1,0,12-07-2017 01:47,Hinge,Joseph,male
644620,Brian Shook,I can't get past the initial set up. It won't...,1,11,12-07-2017 01:36,Hinge,Brian,male
644623,Dylan Fick,"My entire town counts as ""over water"" and I ca...",2,15,12-07-2017 01:24,Hinge,Dylan,mostly_male

In [18]:
df_men = df[df.Gender.isin(["male", "mostly_male"])].iloc[: , :-2]
df_men['Gender'] = 'Men'

In [19]:
df_men

,Name,Review,Rating,#ThumbsUp,Date&Time,App,Gender
1,Norman Johnson,Tinder would be so much better if we could spe...,3,0,18-02-2022 01:16,Tinder,Men
2,David Hume,Still doesn't correctly notify matches or mess...,1,0,18-02-2022 01:11,Tinder,Men
4,Arthur Magamedov,Love it!,5,0,18-02-2022 01:06,Tinder,Men
5,Lukas Rukštelis,Good app.,5,0,18-02-2022 00:57,Tinder,Men
7,Joe burns,Just tested after originally noticing a flux ;...,1,0,18-02-2022 00:37,Tinder,Men
...,...,...,...,...,...,...,...
644615,Yevgeniy Shvartsman,Kept telling me I'm water lol. I guess they di...,1,0,12-07-2017 01:53,Hinge,Men
644617,Martin Muhr,"Tells me I'm ""over water"". Won't let me manual...",1,2,12-07-2017 01:47,Hinge,Men
644618,Joseph Roy,Location is searching over water. Lame,1,0,12-07-2017 01:47,Hinge,Men
644620,Brian Shook,I can't get past the initial set up. It won't...,1,11,12-07-2017 01:36,Hinge,Men
644623,Dylan Fick,"My entire town counts as ""over water"" and I ca...",2,15,12-07-2017 01:24,Hinge,Men

In [20]:
df_women = df[df.Gender.isin(["female", "mostly_female"])].iloc[: , :-2]
df_women['Gender'] = 'Women'

In [21]:
df_women

,Name,Review,Rating,#ThumbsUp,Date&Time,App,Gender
12,Shikha Pandey,They banned my account without me doing anything,1,0,18-02-2022 00:16,Tinder,Women
22,Celeste Hernandez,I just turned 18 and made an account and I'm b...,1,0,17-02-2022 22:23,Tinder,Women
31,Bernadette Miles,I like TINDER bc it allows you to meet people ...,5,0,17-02-2022 21:30,Tinder,Women
32,Corry gibbens,NOT👏ALLOWING👏NAME👏CHANGES👏IS👏TRANSPHOBIC👏,1,0,17-02-2022 21:22,Tinder,Women
35,Steph H,Bu selecting women as the sex of choice. I do ...,2,0,17-02-2022 21:21,Tinder,Women
...,...,...,...,...,...,...,...
644578,Shraddha Nigdikar,I don't see why this one is any different than...,2,0,13-07-2017 22:52,Hinge,Women
644585,Helen Rogers,AWFUL! *PROFILE FRAUD ALERT* NO Facebook Fri...,2,0,13-07-2017 04:12,Hinge,Women
644590,Lindsay Maguire,"I first gave this app 1 star!, but they addres...",3,11,12-07-2017 15:44,Hinge,Women
644604,Jennifer A.,Why on earth would you only allow people with ...,1,0,12-07-2017 02:33,Hinge,Women
644607,Angela Beard,Not ready to go live. You can't even get past ...,1,0,12-07-2017 02:05,Hinge,Women

In [24]:
df = pd.concat([df_men, df_women])

In [25]:
df

,Name,Review,Rating,#ThumbsUp,Date&Time,App,Gender
1,Norman Johnson,Tinder would be so much better if we could spe...,3,0,18-02-2022 01:16,Tinder,Men
2,David Hume,Still doesn't correctly notify matches or mess...,1,0,18-02-2022 01:11,Tinder,Men
4,Arthur Magamedov,Love it!,5,0,18-02-2022 01:06,Tinder,Men
5,Lukas Rukštelis,Good app.,5,0,18-02-2022 00:57,Tinder,Men
7,Joe burns,Just tested after originally noticing a flux ;...,1,0,18-02-2022 00:37,Tinder,Men
...,...,...,...,...,...,...,...
644578,Shraddha Nigdikar,I don't see why this one is any different than...,2,0,13-07-2017 22:52,Hinge,Women
644585,Helen Rogers,AWFUL! *PROFILE FRAUD ALERT* NO Facebook Fri...,2,0,13-07-2017 04:12,Hinge,Women
644590,Lindsay Maguire,"I first gave this app 1 star!, but they addres...",3,11,12-07-2017 15:44,Hinge,Women
644604,Jennifer A.,Why on earth would you only allow people with ...,1,0,12-07-2017 02:33,Hinge,Women
644607,Angela Beard,Not ready to go live. You can't even get past ...,1,0,12-07-2017 02:05,Hinge,Women

In [26]:
df.to_csv("data_w_gender_franyang_oct_18.csv", index = False)